services:
  backend:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always

  frontend:
    build: .
    ports:
      - "8501:8501"
    env_file:
      - .env
    command: ["python", "-m", "streamlit", "run", "streamlit_app.py", "--server.address", "0.0.0.0"]
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:8000/evaluate
    restart: always